pcm_voice:pcm_voice {
	compatible = "intel,xgold-snd-voice";
	intel,dsp = < &dspaud_fb >;
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&i2s1_default_pins>;
	pinctrl-1 = <&i2s1_sleep_pins>;
	pinctrl-2 = <&i2s1_inactive_pins>;
	pm,class-name = "generic_class";
	pm,user-name = "i2s1";
	pm,state-D0 = "enable";
	pm,state-D3 = "disable";
};

speech_probe:speech_probe {
	compatible = "intel,xgold-snd-speech";
	intel,dsp = < &dspaud_fb >;
};

pcm_music:pcm_music {
	compatible = "intel,xgold-snd-pcm";
	intel,dsp = < &dspaud_sb >;
	intel,pcm,dma_en;
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = < &i2s2_default_pins >;
	pinctrl-1 = < &i2s2_sleep_pins >;
	pinctrl-2 = < &i2s2_inactive_pins >;
	pm,class-name = "generic_class";
    	pm,user-name = "i2s2";
    	pm,state-D0 = "enable";
    	pm,state-D3 = "disable";
};

dspaud_fb:dspaud_fb {
	compatible = "intel,xgold-snd-dsp";
	intel,dsp,id = "XG742_FBA";
	reg = <0xE3304000 0x2000>, <0xE3306000 0x2000>;
	reg-names = "shm-regs", "shm-mem";
	interrupts = < FBADSP_INT2 IRQ_TYPE_DEFAULT >;
	interrupt-names = "dsp_speech_probe";
	intel,uccf = <0x20C 0x210 0x214>;
	intel,mcu2dsp = <0x208>;
	intel,dsp-imsc = < 0xC 1 2 0 >;
	intel,dsp-icr = < 0x18 1 2 0 >;
	intel,dsp-mis = < 0x14 1 2 0 >;
	intel,dsp-cf = <3 4 0x1F>; /* play1, record, tone */
	intel,dsp-sm-buf-speech-buffer_1 = <166>;
	intel,dsp-sm-buf-speech-buffer_2 = <486>;
	intel,dsp-sm-buf-speech-buffer_3 = < 806 >;
	intel,dsp-sm-buf-speech-buffer_4 = < 1126 >;
	intel,dsp-sm-buf-speech-buffer_5 = < 1446 >;
	intel,dsp-sm-buf-speech-buffer_6 = < 1766 >;
	reset-names = "dsp";
	resets = <&dbb_rst3 8>;
	intel,dsp-clc = < 4 >;
	intel,dsp-rstmods = < 0x204 >;
	pm,class-name = "dsp_class";
	pm,user-name = "dsp_aud_frame";
	pm,state-D0 = "enable";
	pm,state-D3 = "disable";
	pm,state-D0i3 = "suspend";

	intel,dsp-fw = /bits/ 16 <
		/* X-GOLD742_AUDIO   WA01 PATCH   V0.1.8.0 */
		 0x0000 0x0002 0x0002 0x4180 0x91bc 0x0000 0x0006 0x0002
	     0x4180 0x253a 0x0000 0x000e 0x0002 0x4180 0x253a 0x0000
	     0x0016 0x0002 0x4180 0x23d3 0x0000 0x0020 0x0046 0x5e08
	     0x0001 0x5e09 0x0000 0x5e0a 0x0000 0x4f90 0x5e0d 0x062c
	     0x5e18 0x0000 0xd4bc 0xc002 0x0000 0x5e18 0x0000 0xd4bc
	     0xc003 0x5e18 0x0001 0xd4bc 0xdba5 0x41c0 0x269c 0x5e1a
	     0xffff 0xd4bc 0xdb02 0xd4bc 0xdb06 0xd4bc 0xdb0a 0xd4bc
	     0xdb0e 0x5e1a 0xf007 0xd4bc 0xdb01 0x5e1a 0x0000 0xd4bc
	     0xdb05 0x5e1a 0x0000 0xd4bc 0xdb09 0x81ea 0x0040 0x81e8
	     0x000e 0x2101 0xd4bc 0xdb92 0x0000 0x0000 0x0000 0x0000
	     0x0000 0x0000 0x0000 0x43c0 0x2101 0xd4bc 0xdba1 0x0000
	     0x0000 0x0000 0x4380 0x4180 0x0055 0x0000 0x1fe0 0x0020
	     0x4180 0x2764 0x4180 0x2764 0x4180 0x2764 0x4180 0x2764
	     0x4180 0x2764 0x4180 0x2764 0x4180 0x2764 0x4180 0x2764
	     0x4180 0x2764 0x4180 0x2764 0x4180 0x2764 0x4180 0x2764
	     0x4180 0x2764 0x4180 0x2764 0x4180 0x2764 0x4180 0x2764
	     0x0002 0x0020
	>;
};
