#
# Copyright (C) 2012-2013 Intel Mobile Communications GmbH
#
# This software is licensed under the terms of the GNU General Public
# License version 2, as published by the Free Software Foundation, and
# may be copied, distributed, and modified under those terms.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#

#
# IDI Controller support
#

config IDI_IMC
       tristate "IDI IMC controller"
       help
        If you say yes to this option, support will be include for the IMC IDI
        controller.

if IDI_IMC
choice
	prompt "IDI bus parent"

config IDI_IMC_PCI
	bool "PCI bus"
	depends on PCI
    help
	Select this option to be registered as a PCI driver

config IDI_IMC_PLATFORM
	bool "Platform bus"
    help
	Select this option to be registered as a platform driver

endchoice
endif
