/dts-v1/;
#define SOFIA3G_ES2
#define SOFIA3G_ES21
#include "xgold/sofia_3g_soc/irq.h"

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	model = "intel,sofia_3g_soc-es2";
	compatible = "intel,sofia_3g_soc-svb", "intel,xgold";

	#include "xgold/sofia_3g_soc/sofia_3g_soc.dtsi"
	#include "xgold/sofia_3g_soc/irq.dtsi"
	#include "xgold/mobilevisor/mobilevisor.dtsi"
	#include "xgold/sofia_3g_soc/clock-es2.dtsi"
	#include "xgold/sofia_3g_soc/regulator.dtsi"
	#include "xgold/sofia_3g_soc/device-pm-reg.dtsi"
	#include "xgold/sofia_3g_soc/cpufreq.dtsi"

	chosen {
	};

	aliases {
	};

	memory {
		device_type = "memory";
		reg = <0x800000 0x1800000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		cma_default_region: region@0 {
			size = <0x09000000>;
			limit = <0x00000000>;
			linux,cma-default;
		};
		/* special region for secured processing devices */
		secured_region: region@8000000 {
			reg = <0x08000000 0x08000000>;
			no-map;
			linux,cma;
		};
	};

	vmodem {
		compatible = "intel,vmodem";
		reg = < 0x1D000000 0x02C00000 >;
	};

	ion {
		compatible = "intel,ion";
#ifndef RECOVERY_KERNEL
		secvm-handler;
#endif
		cma-heap {
			memory-region = <&cma_default_region>;
		};
		secured-heap {
			memory-region = <&secured_region>;
		};
	};

	backlight:agold620-backlight {
		compatible = "intel,agold620-led";
		reg = <0xE6501800 0x154>;
		reg-names = "pmu-bl";
		intel,flags-use-safe-ctrl;
		intel,vmm-secured-access;
		pm,class-name = "bl_class";
		pm,user-name = "bl";
		pm,state-D0 = "enable";
		pm,state-D3 = "disable";
		intel,led-k2 = <0x143>;
		intel,led-k1max = <0x120>;
		intel,led-k2max = <0xFFFF>;
		intel,led-up = <0x10104>;
		intel,led-down = <0x200>;
		intel,led-safe = <0x12>;
	};

	graphics {
		compatible = "intel,graphics";
		intel,gpu-shared-mem = <0x20000000>;
		intel,dcc-fbpixelformat= "RGB888";
		intel,dcc-debug-level = <1>;
		intel,fb-api = <1>;
#ifdef RECOVERY_KERNEL
		intel,dcc-mem = < 0x00800000 >;
#else
		intel,dcc-use-fences = <1>;
		intel,dcc-mem = < 0x00400000 >;
		intel,prot-mem = < 0x08000000 0x08000000>;
#endif
		intel,display-fps = <60>;
		intel,display-ramless = <1>;
		intel,display-preinit = <0>;
		intel,display-if = <&mipi_dsi>;
		intel,display-if-rate = <385000000>;
		lcd-supply = <&pm_lcd>;
		/include/ "xgold/display/OTM1283.dtsi"
		mipi_dsi:mipi-dsi {
				intel,display-if-min = <104000000>;
				intel,display-if-max = <550000000>;
				intel,display-if-nblanes = <4>;
				intel,display-if-phy-pwup = <6>;
				intel,display-if-phy-calib = <3>;
				intel,display-if-phy-to_lp_hs_req = <24>;
				intel,display-if-phy-to_lp_hs_dis = <25>;
				intel,display-if-phy-to_lp_hs_eot = <60>;
				intel,display-if-phy-to_hs_zero = <8>;
				intel,display-if-phy-to_hs_flip = <24>;
				intel,display-if-phy-lp_clk_div = <31>;
				intel,display-if-phy-to_hs_clk_pre = <36>;
				intel,display-if-phy-to_hs_clk_post = <42>;
				intel,display-if-phy-data_delay = <7>;
				intel,display-if-phy-clock_delay = <7>;
				intel,display-if-phy-lp_tx_tfall = <2>;
				intel,display-if-phy-lp_tx_rise = <2>;
				intel,display-if-phy-lp_tx_vref = <31>;
		};
	};

#ifndef RECOVERY_KERNEL
	sound:sound {
		compatible = "intel,xgold-snd-asoc";
		intel,audio-codec = < &afe >;
		intel,pcm-audio = <&pcm_music>;
		intel,pcm-voice = <&pcm_voice>;
		intel,speech = <&speech_probe>;
		intel,jack = <&headset>;
	};
#endif

};

&eint {
	/* intel,virq,x = <0>; means EINTx is owned & requested by IRQ framework */
	intel,virq,0 = <0>; /* EINT_EXI0: TOUCH */
	intel,virq,1 = <0>; /* EINT_EXI1: ??? */
	intel,virq,2 = <0>; /* EINT_EXI2: ??? */
	intel,virq,3 = <1>; /* EINT_EXI3 */
	intel,virq,4 = <1>; /* EINT_EXI4 */
	intel,virq,5 = <1>; /* EINT_EXI5 */
	intel,virq,6 = <1>; /* EINT_EXI6 */
	intel,virq,7 = <1>; /* EINT_EXI7 */
	intel,virq,8 = <0>; /* EINT_EXI8: SD-DET */
	intel,virq,9 = <1>; /* EINT_EXI9 */
	intel,virq,10 = <1>; /* EINT_EXI10 */
	intel,virq,11 = <0>; /* EINT_EXI11: PROX */
	intel,virq,12 = <0>; /* EINT_EXI12: ??? */
	intel,virq,13 = <1>; /* EINT_EXI13 */
	intel,virq,14 = <1>; /* EINT_EXI14 */
	intel,virq,15 = <1>; /* EINT_EXI15 */
	intel,virq,16 = <0>; /* EINT_USB_HS_RESUME */
	intel,virq,17 = <0>; /* EINT_SDMMC_DETECT */
	intel,virq,18 = <1>; /* EINT_SDIO_DAT3 */
	intel,virq,19 = <1>; /* EINT_SDIO_DAT1 */
	intel,virq,20 = <0>; /* EINT_USIF1_WK */
	intel,virq,21 = <1>; /* EINT_USIF2_WK */
	intel,virq,22 = <1>; /* EINT_WUP_DBB */
	intel,virq,23 = <1>; /* EINT_U2H */
	intel,virq,24 = <1>; /* EINT_G3FP */
	intel,virq,25 = <1>; /* EINT_DTXS */
	intel,virq,26 = <1>; /* EINT_DRXS */
	intel,virq,27 = <1>; /* EINT_WDT0 */
	intel,virq,28 = <1>; /* EINT_WDT1 */
	intel,virq,29 = <0>; /* EINT_USB_ID */

	intel,preack,8 = <1>; /* EINT_EXI8 */
	intel,preack,20 = <1>; /* EINT_USIF1_WK */
};

&idi_per {
	#include "xgold/agold620/agold620.dtsi"
};

&bat_hal {
	#define BAT_TYPE_LC 0
	#define POWER_SUPPLY_TECHNOLOGY_LION 2

	supp_batids =  < 0 BAT_TYPE_LC >;

	supp_batids-map = "standrd";

	prof-standrd = < POWER_SUPPLY_TECHNOLOGY_LION /*battery_type*/
				  2885 /*capacity*/
				  4350 /*voltage_max*/
				  144 /*chrg_term_ma*/
				  3200 /*low_batt_mv*/
				  60 /*disch_tmp_ul*/
				  0xffffffec /*disch_tmp_ll (-20)*/
				  0 /*min_temp*/
				  3 /*min_temp_restart*/
				  42 /*max_temp_restart*/ >;

	prof-standrd-cap_to_vbat_ocv = <
		3202 3378 3493 3569 3624 3661 3674 3680 3685 3689
		3692 3696 3700 3705 3713 3721 3728 3735 3742 3747
		3752 3758 3763 3767 3770 3773 3776 3778 3780 3782
		3784 3787 3789 3791 3794 3796 3799 3802 3805 3808
		3811 3815 3818 3822 3826 3830 3834 3839 3844 3848
		3854 3859 3865 3871 3877 3884 3891 3899 3907 3915
		3922 3930 3938 3946 3954 3963 3971 3979 3988 3996
		4005 4014 4023 4033 4043 4053 4062 4072 4082 4091
		4102 4112 4122 4133 4143 4154 4165 4176 4187 4198
		4209 4220 4232 4243 4255 4266 4277 4286 4297 4307
		4314 >;


	prof-standrd-ntemp_ranges = <1>;

	prof-standrd-temp_range0 = < 45 /*max_temp*/
					     4320 /*full_chrg_vol*/
					     1500 /*full_chrg_cur*/
					     98 /*charging_res_cap*/
					     4320 /*maint_chrg_vol_ul*/
					     1500 /*maint_chrg_cur*/ >;

	nprofiles = <1>;
};

&fuel_gauge_hal {
	sense_resistor_mohm = <20>;
	gain_error_1_uc_per_mc = <30>;
	gain_error_2_uc_per_mc = <30>;
};

&dcc {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&dif_default_pins>;
	pinctrl-1 = <&dif_sleep_pins>;
	pinctrl-2 = <&dif_inactive_pins>;
};

&usif1 {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&usif1_default_pins>;
	pinctrl-1 = <&usif1_sleep_pins>;
	pinctrl-2 = <&usif1_inactive_pins>;
};

&usif2 {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&usif2_function_B_active_pins>;
	pinctrl-1 = <&usif2_function_B_sleep_pins>;
	pinctrl-2 = <&usif2_function_B_inactive_pins>;
};

&i2c_1 {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&i2c1_default_pins>;
	pinctrl-1 = <&i2c1_sleep_pins>;
	pinctrl-2 = <&i2c1_inactive_pins>;

#ifndef RECOVERY_KERNEL
	afc0: af-controller@0 {
		compatible = "whitus vision,wv511-v4l2-i2c-subdev";
		reg = < 0x0C >;
	};

	camera0: camera-module@0 {
		compatible = "omnivision,ov13850-v4l2-i2c-subdev";
		reg = < 0x36 >;
		device_type = "v4l2-i2c-subdev";

		pinctrl-names = "default", "sleep", "inactive";
		pinctrl-0 = <&cam1_default_pins>;
		pinctrl-1 = <&cam1_sleep_pins>;
		pinctrl-2 = <&cam1_inactive_pins>;

		intel,pd-gpio = <&xgold_pmx_gpio 39 0>;
		intel,pd-gpio_1v2 = <&xgold_pmx_gpio 68 0>;
		intel,pd-gpio-is_active_low;
		intel,flash-gpio = <&xgold_pmx_gpio 37 0>;
		intel,torch-gpio = <&xgold_pmx_gpio 38 0>;

		pm,class-name = "generic_class";
		pm,user-name = "primcam";
		pm,state-D0 = "enable";
		pm,state-D3 = "disable";

		/* ["front","back"] */
		intel,camera-module-facing = "back";
		/* ["landscape","landscape-flipped","portrait","portrait-flipped"] */
		intel,camera-module-mounting = "landscape";
		intel,camera-module-flash-support = <1>;
		intel,camera-module-flash-exp-time = <5000>;

		intel,af-ctrl = <&afc0>;

		intel,camera-module-csi-config-0 {
			intel,csi-pixels-per-second = <0>;
			intel,csi-vc = <0>;
			intel,csi-lanes = <2>;
			intel,csi-dphy1 = <0x2014183>;
			intel,csi-dphy2 = <0x00>;
			intel,csi-ana-bandgap-bias = <3>;
		};
		intel,camera-module-csi-config-1 {
			intel,csi-pixels-per-second = <100000000>;
			intel,csi-vc = <0>;
			intel,csi-lanes = <4>;
			intel,csi-dphy1 = <0x600E1C1>;
			intel,csi-dphy2 = <0x00>;
			intel,csi-ana-bandgap-bias = <3>;
		};
	};
#endif
#ifndef RECOVERY_KERNEL
	camera1: camera-module@1 {
		compatible = "omnivision,ov9760-v4l2-i2c-subdev";
		reg = < 0x10 >;
		device_type = "v4l2-i2c-subdev";

		pinctrl-names = "default", "sleep", "inactive";
		pinctrl-0 = <&cam2_default_pins>;
		pinctrl-1 = <&cam2_sleep_pins>;
		pinctrl-2 = <&cam2_inactive_pins>;

		intel,pd-gpio = <&xgold_pmx_gpio 40 0>;
		intel,pd-gpio-is_active_low;

		pm,class-name = "generic_class";
		pm,user-name = "seccam";
		pm,state-D0 = "enable";
		pm,state-D3 = "disable";

		intel,camera-module-facing = "front";
		/* ["landscape","landscape-flipped","portrait","portrait-flipped"] */
		intel,camera-module-mounting = "landscape";
		intel,camera-module-flash-support = <1>;
		intel,camera-module-flash-exp-time = <5000>;

		intel,camera-module-csi-config-0 {
			intel,csi-pixels-per-second = <0>;
			intel,csi-vc = <0>;
			intel,csi-lanes = <1>;
			intel,csi-dphy1 = <0x60121A9>;
			intel,csi-dphy2 = <0x00>;
			intel,csi-ana-bandgap-bias = <3>;
		};

	};
#endif
#ifndef RECOVERY_KERNEL
	touchscreen {
		compatible = "goodix,GT915";
		reg = < 0x14 >;
		interrupt-parent = <&eint>;
		interrupts = < EINT_EXI0 XGOLD_IRQ_TYPE_EDGE_FALLING >;
		pinctrl-names = "default", "sleep", "inactive", "gpio";
		pinctrl-0 = <&touch_default_pins>;
		pinctrl-1 = <&touch_sleep_pins>;
		pinctrl-2 = <&touch_inactive_pins>;
		pinctrl-3 = <&touch_gpio_pins>;
		intel,ts-gpio-reset = <&xgold_pmx_gpio 32 0>;
		intel,ts-gpio-irq = <&xgold_pmx_gpio 66 0>;
		pm,class-name = "gt9xx_class";
		pm,user-name = "tp";
		pm,state-D0 = "enable";
		pm,state-D3 = "disable";
	};
#endif
};

&i2c_2 {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&i2c2_default_pins>;
	pinctrl-1 = <&i2c2_sleep_pins>;
	pinctrl-2 = <&i2c2_inactive_pins>;

#ifndef RECOVERY_KERNEL
	accelerometer {
		compatible = "st,lsm303dlhc_acc";
		reg = < 0x19 >;
		intel,axis-map = < 1 0 2 >;
		intel,negate = < 1 0 0 >;
		intel,poll-interval = < 100 >;
		pinctrl-names = "default", "sleep", "inactive";
		pinctrl-0 = <&accel_default_pins>;
		pinctrl-1 = <&accel_sleep_pins>;
		pinctrl-2 = <&accel_inactive_pins>;
		pm,class-name = "lsm303dlhc_acc_class";
		pm,user-name = "accelerometer";
		pm,state-D0 = "enable";
		pm,state-D3 = "disable";
	};
#endif
#ifndef RECOVERY_KERNEL
	magnetometer {
		compatible = "st,lsm303dlhc_mag";
		reg = < 0x1e >;
		intel,axis-map = < 1 0 2 >;
		intel,negate = < 1 0 0 >;
		intel,offset = < 0 0 0 >;
		intel,poll-interval = < 100 >;
		pm,class-name = "lsm303dlhc_mag_class";
		pm,user-name = "compass";
		pm,state-D0 = "enable";
		pm,state-D3 = "disable";
	};
#endif
#ifndef RECOVERY_KERNEL
	proxsensor {
		compatible = "avago,apds990x";
		reg = < 0x39 >;
		interrupt-parent = <&eint>;
		interrupts = < EINT_EXI11 XGOLD_IRQ_TYPE_EDGE_FALLING >;
		pinctrl-names = "default", "sleep", "inactive";
		pinctrl-0 = <&prox_default_pins>;
		pinctrl-1 = <&prox_sleep_pins>;
		pinctrl-2 = <&prox_inactive_pins>;
		intel,pdrive = /bits/ 8 < 64 >;
		intel,ppcount = /bits/ 8 < 64 >;
		intel,als-gain = < 713 >;
		intel,coeff-B = < 204 >;
		intel,coeff-C = < 98 >;
		intel,coeff-D = < 197 >;
		vdd-supply = <&laux2>;
		vled-supply = <&laux1>; /* VBAT in fact, but since VBAT is not controllable, and VAUX1 is required for INT pull up, assigned VAUX1 to VLED instead. */
		pm,class-name = "apds990x_class";
		pm,user-name = "proximity";
		pm,state-D0 = "enable";
		pm,state-D3 = "disable";
	};
#endif
#ifndef RECOVERY_KERNEL
	gyroscope {
		compatible = "st,l3gd20_gyr";
		reg = < 0x6a >;
		pinctrl-names = "default", "sleep", "inactive";
		pinctrl-0 = <&gyroscope_default_pins>;
		pinctrl-1 = <&gyroscope_sleep_pins>;
		pinctrl-2 = <&gyroscope_inactive_pins>;
		intel,axis-map = < 0 1 2 >;
		intel,negate = < 0 0 0 >;
		intel,poll-interval = < 100 >;
		intel,full-scale = < 2000 >;
		pm,class-name = "l3gd20_class";
		pm,user-name = "gyroscope";
		pm,state-D0 = "enable";
		pm,state-D3 = "disable";
	};
#endif
};

&i2c_5 {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&i2c5_agold_default_pins>;
	pinctrl-1 = <&i2c5_agold_sleep_pins>;
	pinctrl-2 = <&i2c5_agold_inactive_pins>;
	bat:battery {
		compatible = "intel,fan54x_charger";
		reg = < 0x6b >;
		interrupts = < 0 >;
		interrupt-parent = < &bat>;
		#interrupt-cells = < 1 >;
		interrupt-map = < 0 &ag620_pmu ABB_PMU_CI XGOLD_IRQ_TYPE_NONE >; /* CI */
		pinctrl-names = "default", "sleep", "inactive", "active";
		pinctrl-0 = < &chgreset_agold_default_pins >;
		pinctrl-1 = < &chgreset_agold_sleep_pins >;
		pinctrl-2 = < &chgreset_agold_inactive_pins >;
		pinctrl-3 = < &chgreset_agold_active_pins >;
	};
};

&gnss {
	pinctrl-names = "default", "sleep", "inactive", "default_lna", "inactive_lna", "default_fta", "inactive_fta", "gnss_default", "gnss_inactive";
	pinctrl-0 = <&tcxo_agold_default_pins>;
	pinctrl-1 = <&tcxo_agold_sleep_pins>;
	pinctrl-2 = <&tcxo_agold_inactive_pins>;
	pinctrl-3 = <&ext_agold_default_pins>;
	pinctrl-4 = <&ext_agold_sleep_pins>;
	pinctrl-5 = <&gnss_agold_default_pins>;
	pinctrl-6 = <&gnss_agold_sleep_pins>;
	pinctrl-7 = <&gnss_default_pins>;
	pinctrl-8 = <&gnss_inactive_pins>;
};

&backlight {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&cabc_agold_default_pins>;
	pinctrl-1 = <&cabc_agold_sleep_pins>;
	pinctrl-2 = <&cabc_agold_inactive_pins>;
};

#ifndef RECOVERY_KERNEL
&afe {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&dm_agold_default_pins>;
	pinctrl-1 = <&dm_agold_sleep_pins>;
	pinctrl-2 = <&dm_agold_inactive_pins>;
};
#endif

&sd {
	intel,tap_values = <0x080400F5 0x08040004 0x00040004 0x08040004 0x5CF501A5 0x00F500A5 0x00F500A5>;
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&sdmmc_default_pins>;
	pinctrl-1 = <&sdmmc_sleep_pins>;
	pinctrl-2 = <&sdmmc_inactive_pins>;
};

&emmc {
	intel,tap_values = <0x080400F5 0x08040004 0x00040004 0x08040004 0x08040004 0x000400B5 0x000400B5>;
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&emmc_default_pins>;
	pinctrl-1 = <&emmc_sleep_pins>;
	pinctrl-2 = <&emmc_inactive_pins>;

};

&keypad {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&kp_default_pins>;
	pinctrl-1 = <&kp_sleep_pins>;
	pinctrl-2 = <&kp_inactive_pins>;
	keypad,num-rows = <3>;
	keypad,num-columns = <8>;
	keypad,rows = <0 2>;
	keypad,columns = <0 1 2>;
	linux,keymap = <0x00000073	/* KEY_VOLUMEUP */
			0x00010066	/* KEY_HOME */
			0x00020000	/* KEY_RESERVED */
			0x00030000	/* KEY_RESERVED */
			0x00040000	/* KEY_RESERVED */
			0x00050000	/* KEY_RESERVED */
			0x00060000	/* KEY_RESERVED */
			0x00070000	/* KEY_RESERVED */
			0x01000000	/* KEY_RESERVED */
			0x01010000	/* KEY_RESERVED */
			0x01020000	/* KEY_RESERVED */
			0x01030000	/* KEY_RESERVED */
			0x01040000	/* KEY_RESERVED */
			0x01050000	/* KEY_RESERVED */
			0x01060000	/* KEY_RESERVED */
			0x01070000	/* KEY_RESERVED */
			0x02000072	/* KEY_VOLUMEDOWN */
			0x02010000	/* KEY_RESERVED */
			0x02020000>;	/* KEY_RESERVED */
};

#ifndef RECOVERY_KERNEL
&cif {
	intel,camera-modules-attached = <&camera0 &camera1>;
};
#endif

#if defined(SOFIA3G_ES21)
#include "xgold/sofia_3g_soc/pinctrl-sf_3g-es2.1-svb.dtsi"
#include "xgold/agold620/pinctrl-sf_3g-es2.1-svb.dtsi"
#else
#include "xgold/sofia_3g_soc/pinctrl-sf_3g-es2-svb.dtsi"
#include "xgold/agold620/pinctrl-sf_3g-es2-svb.dtsi"
#endif
