/dts-v1/;
#include "xgold/sofia_3gr_soc/irq.h"
#include <dt-bindings/sofiafb/sofia_fb.h>
/ {
	#address-cells = <1>;
	#size-cells = <1>;
	model = "intel,sofia_3gr_soc-es2";
	compatible = "intel,sofia_3gr_soc-svb", "intel,xgold";

	#include "xgold/sofia_3gr_soc/sofia_3gr_soc.dtsi"
	#include "xgold/sofia_3gr_soc/irq.dtsi"
	#include "xgold/mobilevisor/mobilevisor.dtsi"
	#include "xgold/sofia_3gr_soc/clock-es1.dtsi"
	#include "xgold/sofia_3gr_soc/regulator.dtsi"
	#include "xgold/sofia_3gr_soc/device-pm-reg.dtsi"
	#include "xgold/pmic/granite.dtsi"
	#include "xgold/sofia_3gr_soc/cpufreq.dtsi"

	chosen {
	};

	aliases {
	};

	memory {
		device_type = "memory";
		reg = <0x800000 0x1800000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		cma_default_region: region@0 {
			size = <0x08000000>;
			limit = <0x10000000>;
			linux,cma-default;
		};
	};

	vmodem {
		compatible = "intel,vmodem";
		vmodem,nvm-part = < 3 >;
		vmodem,part-names =
			"/dev/block/platform/soc0/e0000000.noc/by-name/ImcPartID022",
			"/dev/block/platform/soc0/e0000000.noc/by-name/ImcPartID023",
			"/dev/block/platform/soc0/e0000000.noc/by-name/ImcPartID024";
		part-addr,part-size =
			<0x1FA78000 0x40000>,
			<0x1fab8000 0x40000>,
			<0x1FAF8000 0x80000>;
	};

	ion {
		compatible = "rockchip,ion";
#ifndef RECOVERY_KERNEL
		secvm-handler;
#endif
		#address-cells = < 1 >;
		#size-cells = < 0 >;
		cma-heap {
			memory-region = <&cma_default_region>;
			rockchip,ion_heap = < 4 >;
		};
		system-heap {
			rockchip,ion_heap = < 0 >;
		};
	};

	backlight {
                compatible = "pwm-backlight";
                brightness-levels = <
                         20  20  20  20  20  20  20  20
                         20  20  20  20  20  20  20  20
                         20  20  20  20  20  21  22  23
                         24  25  26  27  28  29  30  31
                         32  33  34  35  36  37  38  39
                         40  41  42  43  44  45  46  47
                         48  49  50  51  52  53  54  55
                         56  57  58  59  60  61  62  63
                         64  65  66  67  68  69  70  71
                         72  73  74  75  76  77  78  79
                         80  81  82  83  84  85  86  87
                         88  89  90  91  92  93  94  95
                         96  97  98  99 100 101 102 103
                        104 105 106 107 108 109 110 111
                        112 113 114 115 116 117 118 119
                        120 121 122 123 124 125 126 127
                        128 129 130 131 132 133 134 135
                        136 137 138 139 140 141 142 143
                        144 145 146 147 148 149 150 151
                        152 153 154 155 156 157 158 159
                        160 161 162 163 164 165 166 167
                        168 169 170 171 172 173 174 175
                        176 177 178 179 180 181 182 183
                        184 185 186 187 188 189 190 191
                        192 193 194 195 196 197 198 199
                        200 201 202 203 204 205 206 207
                        208 209 210 211 212 213 214 215
                        216 217 218 219 220 221 222 223
                        224 225 226 227 228 229 230 231
                        232 233 234 235 236 237 238 239
                        240 241 242 243 244 245 246 247
                        248 249 250 251 252 253 254 255>;
                default-brightness-level = <128>;
                enable-gpios = <&abb_pmx_gpio 32 0>;
                pinctrl-names = "default", "sleep", "inactive";
                pinctrl-0 = <&led_agold_default_pins>;
                pinctrl-1 = <&led_agold_sleep_pins>;
                pinctrl-2 = <&led_agold_inactive_pins>;
                pwms = <&pwm0 0 25000 PWM_POLARITY_INVERTED>;
                dev-name = "lcd-backlight";
        };

#ifndef RECOVERY_KERNEL
	/*headset:headset {
		compatible = "intel,headset";
		#address-cells = < 0 >;
		reg = <0xE6501C00 0x4>;
		reg-names = "headset-registers";
		interrupts = < 0 1 >;
		interrupt-parent = < &headset>;
		#interrupt-cells = < 1 >;
		interrupt-map = <
			 0 &ag620_pmu ABB_PMU_ACD1 XGOLD_IRQ_TYPE_NONE
			 1 &ag620_pmu ABB_PMU_ACD2 XGOLD_IRQ_TYPE_NONE
			>;
		interrupt-names = "acd1", "acd2";
		io-channel-names = "ACCID_ADC";
		io-channels = < &meas 4 >;
	};*/
#endif
	fb {
		compatible = "rockchip,fb";
		rockchip,disp-mode = <NO_DUAL>;
		rockchip,loader-logo-on = <1>;
		rockchip,ion-drv = "rockchip";
	};

	screen {
		compatible = "rockchip,screen";
		pm,class-name = "generic_class";
		pm,user-name = "lcd";
		pm,state-D0 = "enable";
		pm,state-D3 = "disable";
		#include "xgold/display/lcd-claa070wp03xg.dtsi"
	};

	graphics {
		compatible = "intel,graphics";
		intel,gpu-shared-mem = <0x20000000>;
		intel,dcc-fbpixelformat= "RGB888";
		intel,dcc-debug-level = <1>;
		intel,fb-api = <1>;
#ifdef RECOVERY_KERNEL
		intel,dcc-mem = < 0x00800000 >;
#else
		intel,dcc-use-fences = <1>;
		intel,dcc-mem = < 0x00400000 >;
		intel,prot-mem = < 0x08000000 0x08000000>;
#endif
		intel,display-fps = <60>;
		intel,display-ramless = <1>;
		intel,display-preinit = <0>;
		intel,display-if = <&mipi_dsi>;
		intel,display-if-rate = <450000000>;
		lcd-supply = <&pm_lcd>;
		/include/ "xgold/display/claa070wp03xg.dtsi"
		mipi_dsi:mipi-dsi {
				intel,display-if-min = <104000000>;
				intel,display-if-max = <550000000>;
				intel,display-if-nblanes = <4>;
				intel,display-if-phy-pwup = <6>;
				intel,display-if-phy-calib = <3>;
				intel,display-if-phy-to_lp_hs_req = <24>;
				intel,display-if-phy-to_lp_hs_dis = <25>;
				intel,display-if-phy-to_lp_hs_eot = <60>;
				intel,display-if-phy-to_hs_zero = <8>;
				intel,display-if-phy-to_hs_flip = <24>;
				intel,display-if-phy-lp_clk_div = <31>;
				intel,display-if-phy-to_hs_clk_pre = <36>;
				intel,display-if-phy-to_hs_clk_post = <42>;
				intel,display-if-phy-data_delay = <7>;
				intel,display-if-phy-clock_delay = <7>;
				intel,display-if-phy-lp_tx_tfall = <2>;
				intel,display-if-phy-lp_tx_rise = <2>;
				intel,display-if-phy-lp_tx_vref = <31>;
		};
	};

#ifndef RECOVERY_KERNEL
	sound {
		compatible = "intel,xgold-snd-asoc";
		intel,audio-codec = < &afe >;
		intel,pcm-audio = <&pcm_music>;
		intel,pcm-voice = <&pcm_voice>;
		intel,speech = <&speech_probe>;
		intel,jack = <&headset>;
	};
#endif

	rk818  {
		compatible = "rockchip,rk818";
		status = "okay";
		interrupt-parent = <&eint>;
		interrupts = < EINT_EXI3 XGOLD_IRQ_TYPE_EDGE_FALLING >;
		pinctrl-names = "default", "sleep", "inactive";
		pinctrl-0 = <&pmu_default_pins>;
		pinctrl-1 = <&pmu_sleep_pins>;
		pinctrl-2 = <&pmu_inactive_pins>;
		battery {
			ocv_table = <3350 3677 3693 3719 3752 3770 3775 3778 3785 3796 3812 3839 3881 3907 3933 3958 3978 4033 4087 4123 4174>;
			design_capacity = <4000>;
			design_qmax = <4100>;
			max_overcharge = <100>;
			max_charge_currentmA = <1500>;
			max_charge_voltagemV = <4260>;
			max_bat_voltagemV = <4200>;
			sleep_enter_current = <150>;
			sleep_exit_current = <180>;
		};
	};
};

&eint {
	/* intel,virq,x = <0>; means EINTx is owned & requested by IRQ framework */
	intel,virq,0 = <0>; /* EINT_EXI0: ??? */
	intel,virq,1 = <0>; /* EINT_EXI1: TOUCH */
	intel,virq,2 = <0>; /* EINT_EXI2: ??? */
	intel,virq,3 = <0>; /* EINT_EXI3: ??? */
	intel,virq,4 = <1>; /* EINT_EXI4 */
	intel,virq,5 = <1>; /* EINT_EXI5 */
	intel,virq,6 = <0>; /* EINT_EXI6: ??? */
	intel,virq,7 = <1>; /* EINT_EXI7 */
	intel,virq,8 = <0>; /* EINT_EXI8 */
	intel,virq,9 = <1>; /* EINT_EXI9 */
	intel,virq,10 = <1>; /* EINT_EXI10 */
	intel,virq,11 = <1>; /* EINT_EXI11 */
	intel,virq,12 = <0>; /* EINT_EXI12: ??? */
	intel,virq,13 = <1>; /* EINT_EXI13 */
	intel,virq,14 = <1>; /* EINT_EXI14 */
	intel,virq,15 = <1>; /* EINT_EXI15 */
	intel,virq,16 = <0>; /* EINT_USB_HS_RESUME */
	intel,virq,17 = <0>; /* EINT_SDMMC_DETECT */
	intel,virq,18 = <1>; /* EINT_SDIO_DAT3 */
	intel,virq,19 = <1>; /* EINT_SDIO_DAT1 */
	intel,virq,20 = <0>; /* EINT_USIF1_WK */
	intel,virq,21 = <1>; /* EINT_USIF2_WK */
	intel,virq,22 = <1>; /* EINT_WUP_DBB */
	intel,virq,23 = <1>; /* EINT_U2H */
	intel,virq,24 = <1>; /* EINT_G3FP */
	intel,virq,25 = <1>; /* EINT_DTXS */
	intel,virq,26 = <1>; /* EINT_DRXS */
	intel,virq,27 = <1>; /* EINT_WDT0 */
	intel,virq,28 = <1>; /* EINT_WDT1 */
	intel,virq,29 = <0>; /* EINT_USB_ID */

	intel,preack,8 = <1>; /* EINT_EXI8 */
	intel,preack,16 = <1>; /* EINT_USB_HS_RESUME*/
	intel,preack,20 = <1>; /* EINT_USIF1_WK */
};

&idi_per {
	#include "xgold/agold620/agold620.dtsi"
};

&bat_hal {
	#define BAT_TYPE_LC 0
	#define POWER_SUPPLY_TECHNOLOGY_LION 2

	supp_batids =  < 0 BAT_TYPE_LC >;

	supp_batids-map = "standrd";

	prof-standrd = < POWER_SUPPLY_TECHNOLOGY_LION /*battery_type*/
				  2885 /*capacity*/
				  4350 /*voltage_max*/
				  144 /*chrg_term_ma*/
				  3200 /*low_batt_mv*/
				  60 /*disch_tmp_ul*/
				  0xffffffec /*disch_tmp_ll (-20)*/
				  0 /*min_temp*/
				  3 /*min_temp_restart*/
				  42 /*max_temp_restart*/ >;

	prof-standrd-cap_to_vbat_ocv = <
		3202 3378 3493 3569 3624 3661 3674 3680 3685 3689
		3692 3696 3700 3705 3713 3721 3728 3735 3742 3747
		3752 3758 3763 3767 3770 3773 3776 3778 3780 3782
		3784 3787 3789 3791 3794 3796 3799 3802 3805 3808
		3811 3815 3818 3822 3826 3830 3834 3839 3844 3848
		3854 3859 3865 3871 3877 3884 3891 3899 3907 3915
		3922 3930 3938 3946 3954 3963 3971 3979 3988 3996
		4005 4014 4023 4033 4043 4053 4062 4072 4082 4091
		4102 4112 4122 4133 4143 4154 4165 4176 4187 4198
		4209 4220 4232 4243 4255 4266 4277 4286 4297 4307
		4314 >;


	prof-standrd-ntemp_ranges = <1>;

	prof-standrd-temp_range0 = < 45 /*max_temp*/
					     4320 /*full_chrg_vol*/
					     1500 /*full_chrg_cur*/
					     98 /*charging_res_cap*/
					     4320 /*maint_chrg_vol_ul*/
					     1500 /*maint_chrg_cur*/ >;

	nprofiles = <1>;
};

&fuel_gauge_hal {
	sense_resistor_mohm = <20>;
	gain_error_1_uc_per_mc = <30>;
	gain_error_2_uc_per_mc = <30>;
};

/*&usif1 {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&usif2_default_pins>;
	pinctrl-1 = <&usif2_sleep_pins>;
	pinctrl-2 = <&usif2_inactive_pins>;
};
*/
/*
&usif2 {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&usif2_function_B_active_pins>;
	pinctrl-1 = <&usif2_function_B_sleep_pins>;
	pinctrl-2 = <&usif2_function_B_inactive_pins>;
};
*/

&pwm0  {
        pinctrl-names = "default", "sleep", "inactive";
        pinctrl-0 = <&pwm0_default_pins>;
        pinctrl-1 = <&pwm0_sleep_pins>;
        pinctrl-2 = <&pwm0_inactive_pins>;
        status = "okay";
};

&i2c_1 {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&i2c1_default_pins>;
	pinctrl-1 = <&i2c1_sleep_pins>;
	pinctrl-2 = <&i2c1_inactive_pins>;

#ifndef RECOVERY_KERNEL
	afc0: af-controller@0 {
		compatible = "silicon touch,vm149c-v4l2-i2c-subdev";
		reg = < 0x0C >;
	};

	camera0: camera-module@0 {
		compatible = "omnivision,OV8858-v4l2-i2c-subdev";
		reg = < 0x10 >;
		device_type = "v4l2-i2c-subdev";

		pinctrl-names = "default", "sleep", "inactive";
		pinctrl-0 = <&cam1_function_B_active_pins>;
		pinctrl-1 = <&cam1_function_B_sleep_pins>;
		pinctrl-2 = <&cam1_function_B_inactive_pins>;

		intel,pd-gpio = <&xgold_pmx_gpio 100 0>;
		intel,pd-gpio-is_active_low;
		intel,flash-gpio = <&xgold_pmx_gpio 37 0>;
		intel,torch-gpio = <&xgold_pmx_gpio 38 0>;

		pm,class-name = "generic_class";
		pm,user-name = "primcam";
		pm,state-D0 = "enable";
		pm,state-D3 = "disable";


		intel,camera-module-facing = "back";
		intel,camera-module-mounting = "landscape";
		intel,camera-module-flash-support = <1>;
		intel,camera-module-flash-exp-time = <5000>;

		intel,af-ctrl = <&afc0>;

		intel,camera-module-csi-config-0 {
			intel,csi-pixels-per-second = <0>;
			intel,csi-vc = <0>;
			intel,csi-lanes = <2>;
			intel,csi-dphy1 = <0x2014183>;
			intel,csi-dphy2 = <0x00>;
			intel,csi-ana-bandgap-bias = <3>;
		};
		intel,camera-module-csi-config-1 {
			intel,csi-pixels-per-second = <100000000>;
			intel,csi-vc = <0>;
			intel,csi-lanes = <4>;
			intel,csi-dphy1 = <0x600E1C1>;
			intel,csi-dphy2 = <0x00>;
			intel,csi-ana-bandgap-bias = <3>;
		};
	};
#endif
#ifndef RECOVERY_KERNEL
	camera1: camera-module@1 {
		compatible = "omnivision,ov2680-v4l2-i2c-subdev";
		reg = < 0x36 >;
		device_type = "v4l2-i2c-subdev";

		pinctrl-names = "default", "sleep", "inactive";
		pinctrl-0 = <&cam2_function_B_active_pins>;
		pinctrl-1 = <&cam2_function_B_sleep_pins>;
		pinctrl-2 = <&cam2_function_B_inactive_pins>;

		intel,pd-gpio = <&xgold_pmx_gpio 99 0>;
		intel,pd-gpio-is_active_low;

		pm,class-name = "generic_class";
		pm,user-name = "seccam";
		pm,state-D0 = "enable";
		pm,state-D3 = "disable";

		intel,camera-module-facing = "front";
		intel,camera-module-mounting = "landscape";
		intel,camera-module-flash-support = <1>;
		intel,camera-module-flash-exp-time = <5000>;

		intel,camera-module-csi-config-0 {
			intel,csi-pixels-per-second = <0>;
			intel,csi-vc = <0>;
			intel,csi-lanes = <1>;
			intel,csi-dphy1 = <0x60121A9>;
			intel,csi-dphy2 = <0x00>;
			intel,csi-ana-bandgap-bias = <3>;
		};
    };
#endif
};



&i2c_4 {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&i2c4_default_pins>;
	pinctrl-1 = <&i2c4_sleep_pins>;
	pinctrl-2 = <&i2c4_inactive_pins>;
#ifndef RECOVERY_KERNEL
	touchscreen {
		compatible = "VTL-TS";
		reg = < 0x01 >;
		interrupt-parent = <&eint>;
		interrupts = < EINT_EXI12 XGOLD_IRQ_TYPE_EDGE_FALLING >;
		pinctrl-names = "default", "sleep", "inactive";
		pinctrl-0 = <&touch_default_pins>;
		pinctrl-1 = <&touch_sleep_pins>;
		pinctrl-2 = <&touch_inactive_pins>;
		intel,ts-gpio-reset = <&xgold_pmx_gpio 19 0>;
		intel,ts-gpio-irq = <&xgold_pmx_gpio 18 0>;
		pm,class-name = "gt9xx_class";
		pm,user-name = "tp";
		pm,state-D0 = "enable";
		pm,state-D3 = "disable";
		intel,max-x = <800>;
		intel,max-y = <1280>;
	};
#endif
};


#ifndef RECOVERY_KERNEL
&afe {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&dm_agold_default_pins>;
	pinctrl-1 = <&dm_agold_sleep_pins>;
	pinctrl-2 = <&dm_agold_inactive_pins>;
};
#endif

&sd {
	intel,tap_values = <0x0C51020 0x0C41020 0x0C41020 0x1114120 0x0C51020 0x0F50F20 0x0F50F20>;
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&sdmmc_default_pins>;
	pinctrl-1 = <&sdmmc_sleep_pins>;
	pinctrl-2 = <&sdmmc_inactive_pins>;
};

&emmc {
	intel,tap_values = < 0x00c51021  0x006f1021   0x00c51021  0x004f1021  0x00c51021  0x00a50f11  0x00c51021 >;
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&emmc_default_pins>;
	pinctrl-1 = <&emmc_sleep_pins>;
	pinctrl-2 = <&emmc_inactive_pins>;

};

&keypad {
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&kp_default_pins>;
	pinctrl-1 = <&kp_sleep_pins>;
	pinctrl-2 = <&kp_inactive_pins>;
	keypad,num-rows = <9>;
	keypad,num-columns = <8>;
	keypad,rows = <3 8>;
	keypad,columns = <3 4>;
	linux,keymap = <0x03030072	/* KEY_VOLUMEDOWN */
			0x03040073	/* KEY_VOLUMEUP */
			0x08030074	/* KEY_POWER */
			0x0804008b>;	/* KEY_MENU */
};

&vop {
	status = "okay";
	rockchip,fb-win-map = <FB_DEFAULT_ORDER>;
	rockchip,iommu-enabled = <1>;
	pm,state-D0 = "low_perf";
};

&lvds {
	status = "okay";
	pinctrl-names = "default", "sleep", "inactive";
	pinctrl-0 = <&lvds_default_pins>;
	pinctrl-1 = <&lvds_sleep_pins>;
	pinctrl-2 = <&lvds_inactive_pins>;
};

#ifndef RECOVERY_KERNEL
&cif {
	intel,camera-modules-attached = <&camera0 &camera1>;
};

&vpu {
       status = "okay";
};

&hevc {
       status = "okay";
};
#endif

#include "xgold/sofia_3gr_soc/pinctrl-sf_3gr-es1-svb-rk.dtsi"
#include "xgold/agold620/pinctrl-sf_3g-es2.1-svb.dtsi"
