#
# NVM infrastructure and drivers
#

config NVM
    tristate "NVM driver"
    default y
      help
        IMC NVM support driver.
        This driver emulates non-volatile memory and provide interfaces to other drivers.

        To compile this driver as a module, choose M here: the
        module will be called nvmdev.

config NVM_DEBUG
    bool "NVM Debug"
    depends on DEBUG_KERNEL && NVM
    default n
    ---help---
        Say Y here to add debug messages to nvm driver.

config NVMTEST
    tristate "NVM test driver"
    depends on NVM
    default n
    ---help---
     Creates a test driver interface to test nvm driver.

