config VERISILICON_7280
	tristate "VeriSilicon 7280 driver"
	default n
	help
	  Driver for Verisilicon 7280 video encoder

config VERISILICON_7280_DEBUG_FS
	tristate "Verisilicon 7280 debug file system"
	depends on VERISILICON_7280 && DEBUG_FS
	default n
	help
	  Debug FS for Verisilicon 7280 video encoder
