config VIDEO_XGOLD
	tristate "Xgold camera sensors"
	depends on VIDEO_V4L2 && I2C
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_CONTIG
	select VIDEOBUF_VMALLOC
	default n

	---help---
	Say Y here to enable selecting the
	xgold supported camera sensors
