config SND_SOC_XGOLD_MACHINE
	depends on IDI
	tristate "SoC Audio for the Intel XGold Soc"
	select SND_SOC_AGOLD_AFE
	select SND_SOC_XGOLD_PCM
	select SND_XGOLD_DSP
	select SND_SOC_AGOLD_ACC_DET_INTERFACE
#	select SND_SOC_AGOLD_PT_DEBUG
	select SND_SOC_XGOLD_SPEECH_PROBE
	select SND_SOC_AGOLD_BT_SCO_STREAMING

config SND_XGOLD_DSP
	tristate

config SND_SOC_XGOLD_PCM
	tristate

config SND_SOC_AGOLD_ACC_DET_INTERFACE
	tristate

config SND_SOC_AGOLD_BT_SCO_STREAMING
	tristate

config SND_SOC_XGOLD_SPEECH_PROBE
	tristate

config SND_SOC_AGOLD_PT_DEBUG
	tristate

config SND_SOC_AGOLD_620
	bool "Intel SoC Audio codec AG620"
	depends on SND_SOC_AGOLD_AFE
	help
	  Say Y here if you want to support the Audio Front End (AFE)
	  of the Intel AGold620 IC, which provide some more input compared
	  to the Intel AGold610 IC (default AFE).

config SND_XGOLD_DSP_SEND_CMD
	bool "Sound XGold DSP send command Kcontrol"
	depends on SND_XGOLD_DSP
	help
	  This function allows user to send commands to the DSP for
	  debugging and calibration purposes.

	  If you intend to use alsa-state, say N, because alsa-state
	  will save these values. Upon restoring, the settings are
	  written into the registers and will cause reboot if the
	  values are dummy values.

	  Note that if you say Y here, alsa-state should be disabled to
	  avoid dummy values written into the register and cause reboots.

	  If you don't know what to do here, say N.

config SND_XGOLD_DSP_RW_SHARED_MEM
	bool "Sound XGold DSP read write shared memory Kcontrol"
	depends on SND_XGOLD_DSP
	help
	  This function allows user to read and write data to the DSP
	  shared memory for debugging and calibration purposes.

	  If you intend to use alsa-state, say N, because alsa-state
	  will save these values. Upon restoring, the settings are
	  written into the registers and will cause reboot if the
	  values are dummy values.

	  Note that if you say Y here, alsa-state should be disabled to
	  avoid dummy values written into the register and cause reboots.

	  If you don't know what to do here, say N.
