config ARCH_HAS_RESET_CONTROLLER
	bool

config XGOLD_RESET
	bool
	select ARCH_HAS_RESET_CONTROLLER

menuconfig RESET_CONTROLLER
	bool "Reset Controller Support"
	default y if ARCH_HAS_RESET_CONTROLLER
	help
	  Generic Reset Controller support.

	  This framework is designed to abstract reset handling of devices
	  via GPIOs or SoC-internal reset controller modules.

	  If unsure, say no.
